main {
    text-align: center;
    position: absolute;
    width:100%;
}

form {
    margin-top: 50px;
    padding: 5%;
    display: inline-block;
    position: relative;
    color: white
}

input {
    max-width: 50%;
    margin: auto;
}

header {
    text-align: center;
}

.radiobox {
    
}