.super-mario {
    width: 200px;
    
}

.goomba {
    width: 100px;
    position: absolute;
    top: 400px;
    left: 50px;
}

.baloon {
    position: absolute;
    top: 550px;
    left: 30px;
}

.speach {
    font-size: 25px;
    position: absolute;
    left: 55px;
    top: 600px;
    z-index: 2;
}

.bowser {
    width: 200px;
    position: absolute;
    top: 680px;
    left: 320px;
    

    
}